@import '_content/BlazorStrap/BlazorStrap.bundle.scp.css';

/* /Pages/Index.razor.rz.scp.css */
*[b-bpurtov1tr] {
  box-sizing: border-box;
}

.container[b-bpurtov1tr] {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.pokemon-row[b-bpurtov1tr] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.pokemon-card[b-bpurtov1tr] {
  width: 200px;
  height: 250px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
}

img[b-bpurtov1tr] {
  width: 80%;
  height: 60%;
}

.type-row[b-bpurtov1tr] {
  display: flex;
  justify-content: space-around;
}

.pokemon-name[b-bpurtov1tr], .type-badge[b-bpurtov1tr] {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.type-badge[b-bpurtov1tr] {
  padding: 5px 10px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 3px;
  border-radius: 8px;
}

.app-title[b-bpurtov1tr] {
  width: 400px;
  margin: 0 auto 20px auto;
}

.filter-section[b-bpurtov1tr] {
  margin-bottom: 20px;
}

label[b-bpurtov1tr] {
  margin-right: 10px;
}

.filter-input[b-bpurtov1tr] {
  display: flex;
  align-items: center;
}

input[b-bpurtov1tr] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button[b-bpurtov1tr], .filter-button[b-bpurtov1tr], .show-more-button[b-bpurtov1tr] {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover[b-bpurtov1tr], .filter-button:hover[b-bpurtov1tr], .show-more-button:hover[b-bpurtov1tr] {
  background-color: #0056b3;
}

.show-more-button[b-bpurtov1tr] {
  margin-top: 20px;
}
/* /Pages/PokemonCard.razor.rz.scp.css */
.pokemon-name[b-ana4ma6op8] {
    text-transform: capitalize;
}

img[b-ana4ma6op8] {
    width: 200px;
}

.badge[b-ana4ma6op8] {
    text-transform: capitalize;
}

.container[b-ana4ma6op8] {
    margin: 30px auto;
    width: 28%;
}

@media screen and (max-width: 600px) {
    .container[b-ana4ma6op8] {
        width: 90%;
    }
}

.inner-container[b-ana4ma6op8] {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}

.card-top[b-ana4ma6op8] {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

.card[b-ana4ma6op8] {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px; /* Ajusta el ancho según tus preferencias */
    margin: 0 auto; /* Centra la carta en el contenedor */
}

.pokemon-info[b-ana4ma6op8] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.type-badge[b-ana4ma6op8] {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 3px;
}

.stat[b-ana4ma6op8] {
    text-transform: capitalize;
}

.stat-bar[b-ana4ma6op8] {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
}

.stats-head[b-ana4ma6op8] {
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 15px;
    margin-top: 5px;
}

.poke-icon[b-ana4ma6op8] {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icon-container[b-ana4ma6op8] {
    display: flex;
    align-items: center;
    justify-content: center;
}
