*[b-bpurtov1tr] {
  box-sizing: border-box;
}

.container[b-bpurtov1tr] {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.pokemon-row[b-bpurtov1tr] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.pokemon-card[b-bpurtov1tr] {
  width: 200px;
  height: 250px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
}

img[b-bpurtov1tr] {
  width: 80%;
  height: 60%;
}

.type-row[b-bpurtov1tr] {
  display: flex;
  justify-content: space-around;
}

.pokemon-name[b-bpurtov1tr], .type-badge[b-bpurtov1tr] {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.type-badge[b-bpurtov1tr] {
  padding: 5px 10px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin-right: 3px;
  border-radius: 8px;
}

.app-title[b-bpurtov1tr] {
  width: 400px;
  margin: 0 auto 20px auto;
}

.filter-section[b-bpurtov1tr] {
  margin-bottom: 20px;
}

label[b-bpurtov1tr] {
  margin-right: 10px;
}

.filter-input[b-bpurtov1tr] {
  display: flex;
  align-items: center;
}

input[b-bpurtov1tr] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button[b-bpurtov1tr], .filter-button[b-bpurtov1tr], .show-more-button[b-bpurtov1tr] {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover[b-bpurtov1tr], .filter-button:hover[b-bpurtov1tr], .show-more-button:hover[b-bpurtov1tr] {
  background-color: #0056b3;
}

.show-more-button[b-bpurtov1tr] {
  margin-top: 20px;
}

.content-container[b-bpurtov1tr] {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 20px; 
  background-color: #f2f2f2;
}

label[b-bpurtov1tr] {
  margin-right: 10px;
  font-size: 21px; 
  max-width: 100%; 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

.filter-button[b-bpurtov1tr] {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; 
}